@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
/*모든 페이지 공통 설정*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

html::-webkit-scrollbar {
  display: none;
}

ol,
ul {
  list-style: none;
}

a {
  outline: 0;
  text-decoration: none;
  color: white;
}

img {
  border: 0;
}

body {
  background: #272727;
  font: 20px 'Gowun Dodum';
  color: white;
}

@keyframes show {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.tit {
  font-size: 60px;
  position: absolute;
  top: 12%;
}

.wrap {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  animation: show 0.5s linear;
}

/*상단 메뉴 부분*/
.nav {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 4vh;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  background: black;
  box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.4);
  z-index: 2;
}

.tabs{
  display: flex;
}

#resi_ctrl{
  padding-top: 1vh;
  width: 10vw;
  height: 6vh;
  text-align: center;
}

#home{
  padding-top: 1vh;
  height: 6vh;
  text-align: center;
}


.menu{
  right: -20%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  width: 10%;
  height: 95%;
  background:#333;
  position: absolute;
  top:5%;
  z-index: 1;
  text-align: center;
  font-size: 1.25vw;
}

#cancel_menu, #check_menu,#home2{
  
  cursor: pointer;
  z-index: 2;
  padding:2%;
  border-bottom: 2px solid gray;
}


/*main 화면*/
img {
  width: 15vw;
  height: 20vw;
  border-radius: 15px;
}

.mvul {
  transform: translateY(40px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mvli {
  text-align: center;
  filter: grayscale(100%);
  font-size: 1.5vw;
  width: 15vw;
  margin: 3%;
  background: #4c4c4c;
  border: 5px outset #4c4c4c;
  box-shadow: 5px 5px 5px rgba(255, 255, 0, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.mvli:hover {
  filter: none;
  font-size: 1.5vw;
  width: 15vw;
  margin: 3%;
  background: #4c4c4c;
  border: 5px outset #4c4c4c;
  box-shadow: 5px 5px 5px rgba(255, 255, 0, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s;
}

.noSeat {
  text-align: center;
  filter: grayscale(100%);
  font-size: 1.5vw;
  width: 15vw;
  margin: 3%;
  background: #4c4c4c;
  border: 5px outset #4c4c4c;
  box-shadow: 5px 5px 5px rgba(255, 255, 0, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*좌석 선택창*/

.inner {
  display: flex;
  transform: translateY(60px);
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 7%;
  border-radius: 15px;
  background: #444444;
  box-shadow: 5px 5px 10px rgba(255, 255, 0, 0.4);
}

.mvimg {
  margin: 3% 0 3% 3%;
  width: 20vw;
  height: 25vw;
}

.seattable {
  margin: 3%;
  border-radius: 15px;
  background: #a6a6a6;
  border: 1px solid #a6a6a6;
}

.screen {
  text-align: center;
  font-size: 2vw;
}

.not,
.booked {
  background: #4c4c4c;
  border: 5px outset #4c4c4c;
  border-radius: 10px;
  width: 4.5vw;
  height: 4vw;
  text-align: center;
  font-size: 1.5vw;
}

.not:hover {
  cursor: pointer;
}

.booked {
  background: #333333;
}

#div1 {
  width: 1.5vw;
  height: 1.5vw;
  background: #747474;
  border-radius: 10px;
}

#div2 {
  width: 1.5vw;
  height: 1.5vw;
  background: #4c4c4c;
  border-radius: 10px;
}

#div3 {
  width: 1.5vw;
  height: 1.5vw;
  background: #333333;
  border-radius: 10px;
}

#test {
  background: rgba(255, 255, 0, 0.4);
  border-radius: 10px;
  padding: 0.5%;
  display: flex;
  position: fixed;
  top: 2%;
  align-items: center;
  justify-content: center;
  transform: translateX(9.8vw);
}

span {
  font-size: 1vw;
  margin-left: 1vh;
  margin-right: 3vh;
}

.buttons {
  font-size: 1.5vw;
  position: absolute;
  bottom: 9%;
  left: 45%;
}

.btns {
  font: 24px 'Gowun Dodum';
  color: white;
  background: #666;
  border-radius: 10px;
  font-size: 1.5vw;
  width: 10vw;
  padding: 5px;
  border: none;
}

.btns:hover {
  background: #747474;
}

/*취소목록창*/
@keyframes show_cancel_list{
  0%{
    opacity: 0;
    transform: translateY(-45%) scaleY(0.1);
  }
  100%{
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
}
.cancelul {
  position: absolute;
  top:20%;
  animation: show_cancel_list 0.5s  linear;
}
.cancelno {
  font-size: 1.5vw;
  width: 150%;
}

input[type='checkbox'] {
  margin-right: 2%;
  width: 2vw;
  height: 2vw;
  filter: invert(0%) sepia(0%) saturate(7%) hue-rotate(30deg) brightness(105%)
    contrast(90%);
}

.cancelsubmit {
  font: 24px 'Gowun Dodum';
  background: #747474;
  border-radius: 10px;
  border: 3px outset #666666;
  font-size: 1.5vw;
  width: 6vw;
  box-shadow: 2px 2px 3px rgba(255, 255, 0, 0.4);
  position: absolute;
  color:white;
}


/*예약완료창*/
.succinner{
  display: flex;
  width: 60%;
  padding: 3% 0 3% 0;
  align-items: center;
  justify-content: center;
  border: 5px outset #4c4c4c;
  border-radius: 15px;
  background: #444444;
  box-shadow: 5px 5px 10px rgba(255, 255, 0, 0.4);
}

.contents{
  margin: 5%;
}
